body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}
#title{
    text-align: center;
    margin-top: 30px;
    color: white;
}
#description{
    text-align: center;
    font-style: italic;
    color: white;
}
#survey-form{
    border-radius: 5px;
    background-color:rgb(51, 51, 104);
    padding: 45px;
    color: white;
    margin-top: 30px;
    margin-left: 26%;
    width: 40%;
    height: 60%;
 }
    